DJANGO_SECRET_KEY=change-this-to-something-random
DEBUG=True
DB_NAME=neo_learners
DB_USER=postgres
DB_PASSWORD=shreya123
DB_HOST=localhost
DB_PORT=5432
GEMINI_API_KEY=AQ.Ab8RN6IarF286A9mYy2qgZpBam0FYwzUWbIrJNyeDpwnNgajOA